.home {
  margin: 100px 230px auto 304px;
}

.home span {
  font-size: 3rem;
  font-weight: bold;
}

.containerHome {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

*.usercontainerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usercontainerHome img {
  height: 25rem;
  width: 25rem;
}

.usercontainerHome span {
  color: var(--color--primary);
  font-weight: bold;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

/* container profilUser*/
.container_profil_user {
  margin: 2rem 2rem 2rem 7.25rem;
}
