*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root{
  --color--light: #FFFFFF;
  --color--primary: #FF0101;
  --color--navbar: #020203;
}

body{
  margin: 0 ;
  padding: 0;
}


/* NavBarH */
.navBarH {
    background:var(--color--navbar);
    display: flex;
    align-items: center;
    padding: 10px;
}

.navBarH_img img {
    display: block;
    width: 178px;
    object-fit: cover;
    object-position: center;
}

.navBarH_list {
    display: flex;  
    flex-basis: 100%;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 3rem;
}

.navBarH_list a {
    text-decoration: none;
    color: var(--color--primary);
    font-size: 1.25rem;
    color: var(--color--light);
}

/* navBarV */
.navBarV{
  background: green;
  padding: 10px;
  height: 100%;
  position: fixed;
}

.copyright {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}
